body{
    background-image: url(wp7406094-motivational-desktop-4k-wallpapers.jpg);
    background-position: center;
    margin: 0%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;

}

#Clock-container{
    
}